<section class="portfolio" id="portfolio">
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0">Search Category</h2>
          <hr class="star-dark mb-5">
          <div class="row">
            <div class="col-sm-9 mx-auto">
                <input id="searchInput" required class="form-control searchMap" type="text" placeholder="Enter a location">
                <div class="map" id="map" style="width: 100%;height: 476px;;"></div>
            </div>
            <div class="col-sm-3 worker-auto">
<ul class="labourUl">
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
    <li><img src="../../img/portfolio/dp.PNG" class="dpworker"/> <a class="lianchor">Samir ****</a> </li>
</ul>
              </div>
          </div>
        </div>
    </section>