<script type="text/javascript">
    window.onbeforeunload = function () {
        return "Are you sure you want to leave your exam?";
    }
</script>

<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini"><b>G</b>EVA</span>
            <span class="logo-lg"><b>Genesis</b>EVA</span>
        </a>
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <div id="clockdiv" style="padding-right:50px;">
                    <div style="display:none;">
                        <span class="days"></span>
                    </div>
                    <span class="hours"></span>:
                    <span class="minutes"></span>:
                    <span class="seconds"></span>
                    <label style="font-size:15px;">
                        Duration {{examSet.Duration}}
                    </label>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="col-lg-12">
            <div class="col-lg-11 bhoechie-tab-container">
                <div class="col-lg-1 bhoechie-tab-menu">
                    <div class="list-group" style="max-height:500px; overflow:auto;">
                        <a href="#" class="list-group-item text-center" ng-click="setQuestionByNumber(q.QuestionNumber)" ng-repeat="q in questions">{{q.QuestionNumber}}</a>
                    </div>
                </div>
                <div class="col-lg-11 bhoechie-tab" style="height:500px; overflow:auto;">
                    <div class="bhoechie-tab-content active">
                        <div class="box-header">
                            <div class="col-lg-4">
                                <label for="selectSector">Question {{currentQuestion.QuestionNumber}} of {{noOfQuestions}}</label>
                            </div>
                            <div class="col-lg-7">
                                <label for="selectSector">QID {{currentQuestion.QuestionNumber}} [{{currentQuestion.Mark}} Marks]</label>
                            </div>
                        </div>
                        <div class="box-body" style="max-height:380px;">
                            <div class="col-lg-11">
                                <span class="question">{{currentQuestion.QuestionText}}</span>
                                <img ng-show="currentQuestion.IsImage" src="{{_baseUrlServer}}/Files/QuestionOption/{{currentQuestion.Image}}" alt="" />
                            </div>
                            <div class="col-lg-11">
                                &nbsp;
                            </div>
                            <div class="col-lg-11">
                                &nbsp;
                            </div>
                            <div class="col-lg-11">
                                &nbsp;
                            </div>
                            <div class="col-lg-11">
                                <label>Choices</label>
                            </div>

                            <div class="col-lg-11">
                                <div class="form-group col-lg-11" ng-repeat="option in currentQuestion.QuestionOptions">
                                    <label class="question">{{getQuestionOptionText($index)}} <input type="radio" ng-change="setCorrectAnswer(option)" ng-checked="option.IsChecked" ng-model="option.IsCorrect" /> </label>
                                    <span class="question">{{ option.Option}}</span>
                                    <img ng-show="option.IsImage" src="{{_baseUrlServer}}/Files/QuestionOption/{{option.Image}}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="box-footer">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-default" ng-disabled="currentQuestion.QuestionNumber==1" ng-click="prevQuestion()"><span class="fa fa-caret-left fa-lg"></span>&nbsp;Previous</button>
                            <button type="button" class="btn btn-default" ng-disabled="currentQuestion.QuestionNumber==questions.length" ng-click="nextQuestion()">Next&nbsp;<span class="fa fa-caret-right fa-lg"></span></button>
                        </div>
                        <div class="col-lg-4">
                            &nbsp;
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default" style="display:none;">Drop&nbsp;<span class="fa fa-times"></span></button>
                            <button type="button" class="btn btn-default" ng-disabled="showSubmit" ng-confirm-click="Do you want to submit?" confirmed-click="submitExam()"><span class="fa fa-done"></span>&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="dialog-confirm" style="display:none;" title="Exam Submit?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>You have some unattempted questions. Are you sure you want to submit the exam with out attempt?</p>
</div>

<style>
    .question {
        font-size: 17px;
    }

    .box-header {
        background: lightgray;
    }
</style>